<div class="container">
<h2 class="discover">Let's discover 

<form action="/tag"  method="get" class="selector">
<select name="tag" onchange='this.form.submit()'>
<option value="<%= @tag_id %>" type="submit" selected><%= Tag.find(@tag_id).name %></option>
<% @tag.each do |tag| %>
<option value="<%= tag.id %>" type="submit"><%= tag.name %></option>
<% end%>
</select>
<noscript><input type="submit" value="Submit"></noscript>
</form></h2>
</div>

<%= erb :_blog_post_partial %>


